[Unit]
Description=AWG-docker-bot
After=network.target

[Service]
Type=simple
#Укажите пользователя, под которым будет запускаться сервис
User=your_user
#Укажите рабочую директорию, в которой расположен бот
WorkingDirectory=/home/your_user/awg-docker-bot
#Укажите, где расположено виртуальное окружение, если такое имеется. И откуда запускать бота
ExecStart=/bin/bash -c 'source /home/your_user/env/bin/activate && /home/your_user/env/bin/python3.11 bot_manager.py'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
