[Unit]
Description=AWG Bot Service
After=network.target

[Service]
Type=simple
#Например, бот лежит в /root/awg-docker-bot
#WorkingDirectory=/root/awg-docker-bot
WorkingDirectory=ваша/директория/где/bot
#Или сразу путь до Python3.11
#ExecStart=/usr/bin/python3.11 bot_manager.py
ExecStart=/путь/до/виртуального_окружения/env/bin/python3.11 bot_manager.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
